<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
    <style>
        .center-screen {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-height: 100vh;
        }
        div {
            padding: 5px;
        }
    </style>
</head>
<body>
 <div class="center-screen">
    <form class="ui form" method="post" >
        {% csrf_token %}
            <div>
                <label>UserName:</label>
                <div  class="ui input focus">
                    <input  name="username" type="text" placeholder="username">
                </div>
                {% for error in form.username.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Password:</label>
                <div class="ui input focus">
                    <input name="password" type="password" placeholder="password">
                </div>
                {% for error in form.password.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            {% if confirmation %}
                <div class="ui message">
                  <p>{{confirmation}}</p>
                </div>
            {% endif%}
            <div>
                <button class="ui button primary" type="submit">Submit</button>
            </div>

    </form>
 </div>
</body>
</html>
