<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
</head>
<body>
 <div class="ui container">
    <form class="ui form" method="post" >
        {% csrf_token %}
            <div class="five wide field" >
                <label>UserName:</label>
                <input class="ui input focus" name="username" type="text" placeholder="username">
                    {% for error in form.username.errors %}
                        <div class="ui up pointing label">
                            <p>{{error}}</p>
                        </div>
                    {%endfor%}
            </div>
            <div class="five wide field">
                <label>Password:</label>
                <input class="ui input focus" name="password" type="password" placeholder="password">
                    {% for error in form.password.errors %}
                        <div class="ui up pointing label">
                            <p>{{error}}</p>
                        </div>
                    {%endfor%}
            </div>
                {{serverError}}
            <div>
                <button class="ui button primary" type="submit">Submit</button>
            </div>

    </form>
 </div>
</body>
</html>
