<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Info</title>
     <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
        <style>
        div {
            padding: 2px;
        }
    </style>
</head>
<body>
 <div class="ui container">
    <form class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div>
                <label>Name:</label>
                <div class="ui input focus" >
                    <input  name="name" type="text" placeholder="Name">
                </div>
                {% for error in form.name.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Email:</label>
                <div class="ui input focus" >
                    <input name="email" type="text" placeholder="Email">
                </div>
                {% for error in form.email.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Phone:</label>
                <div  class="ui input focus">
                    <input name="phone" type="text" placeholder="Phone">
                </div>
                {% for error in form.phone.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Address:</label>
                <div  class="ui input focus">
                    <input name="full_address"  type="text" placeholder="Address">
                </div>
                {% for error in form.full_address.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Univeristy:</label>
                <div  class="ui input focus">
                    <input class="ui input focus" name="name_of_university" type="text" placeholder="University">
                </div>
                {% for error in form.name_of_university.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Graduation Year:</label>
                <div  class="ui input focus">
                    <input name="graduation_year" type="text" placeholder="Year Graduated">
                </div>
                {% for error in form.graduation_year.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div >
                <label>CGPA:</label>
                <div class="ui input focus">
                    <input  name="cgpa" type="number" step="0.01" placeholder="CGPA">
                </div>
                {% for error in form.cgpa.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Experience(In month):</label>
                <div class="ui input focus">
                    <input  name="experience_in_months" type="number" placeholder="Experience">
                </div>
                {% for error in form.experience_in_months.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Current Work Place:</label>
                <div class="ui input focus">
                    <input  name="current_work_place_name" type="text" placeholder="current work place">
                </div>

                {% for error in form.current_work_place_name.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>

                  <div class="inline fields">
                      <label>Applying In:</label>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Mobile" name="applying_in">
                        <label>Mobile</label>
                      </div>
                    </div>
                    <div class=" two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Backend" name="applying_in">
                        <label>Backend</label>
                      </div>
                    </div>
                {% for error in form.applying_in.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            </div>
            <div>
                <label>Expected Salary:</label>
                <div class="ui input focus">
                    <input  name="expected_salary" type="number" placeholder="Expected Salary">
                </div>

                {% for error in form.expected_salary.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Field Buzz Reference:</label>
                <div class="ui input focus">
                    <input  name="field_buzz_reference" type="text">
                </div>

                {% for error in form.field_buzz_reference.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Github Project Link:</label>
                <div class="ui input focus">
                    <input  name="github_project_url" type="text" placeholder="https://github.com/">
                </div>

                {% for error in form.github_project_url.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Upload CV:</label>
                <div class="ui input focus">
                    <input  name="uploadCv" type="file">
                </div>

                {% for error in form.uploadCv.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            {% if confirmation %}
                <div class="ui message">
                  <div class="header">
                    Status:
                  </div>
                  <p>{{confirmation}}</p>
                </div>
            {% endif%}
            <div>
                <button class="ui button primary" type="submit">Submit</button>
            </div>

    </form>
 </div>
</body>
</html>