<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Info</title>
     <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' />
        <style>
        div {
            padding: 2px;
        }
    </style>
</head>
<body>
 <div class="ui container">
    <form class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="hidden" id="custId" name="token" value="37025a50a2a3c186580784638b6100732a872e0c">
            <div class="inline fields">
                <div class="two wide field">
                    <label>Name:</label>
                </div>
                <div class="ui input focus" >
                    <input  name="name" type="text" placeholder="Name">
                </div>
                {% for error in form.name.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Email:</label>
                <div class="ui input focus" >
                    <input name="email" type="text" placeholder="Email">
                </div>
                {% for error in form.email.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Phone:</label>
                <div  class="ui input focus">
                    <input name="phone" type="text" placeholder="Phone">
                </div>
                {% for error in form.phone.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Address:</label>
                <div  class="ui input focus">
                    <input name="address"  type="text" placeholder="Address">
                </div>
                {% for error in form.address.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Univeristy:</label>
                <div  class="ui input focus">
                    <input class="ui input focus" name="university" type="text" placeholder="University">
                </div>
                {% for error in form.university.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Graduation Year:</label>
                <div  class="ui input focus">
                    <input name="gradYear" type="text" placeholder="Year Graduated">
                </div>
                {% for error in form.gradYear.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div >
                <label>CGPA:</label>
                <div class="ui input focus">
                    <input  name="cgpa" type="number" step="0.01" placeholder="CGPA">
                </div>
                {% for error in form.cgpa.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Experience(In month):</label>
                <div class="ui input focus">
                    <input  name="experience" type="number" placeholder="Experience">
                </div>
                {% for error in form.experience.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Current Work Place:</label>
                <div class="ui input focus">
                    <input  name="currentWorkPlace" type="text" placeholder="current work place">
                </div>

                {% for error in form.currentWorkPlace.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>

                  <div class="inline fields">
                      <label>Applying In:</label>
                    <div class="two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Mobile" name="appliedPosition">
                        <label>Mobile</label>
                      </div>
                    </div>
                    <div class=" two wide field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Backend" name="appliedPosition">
                        <label>Backend</label>
                      </div>
                    </div>
                {% for error in form.appliedPosition.errors %}
                    <div class="ui left pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            </div>
            <div>
                <label>Expected Salary:</label>
                <div class="ui input focus">
                    <input  name="expectedSalary" type="number" placeholder="Expected Salary">
                </div>

                {% for error in form.expectedSalary.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Field Buzz Reference:</label>
                <div class="ui input focus">
                    <input  name="reference" type="text">
                </div>

                {% for error in form.reference.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Github Project Link:</label>
                <div class="ui input focus">
                    <input  name="projectLink" type="text">
                </div>

                {% for error in form.projectLink.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
            <div>
                <label>Upload CV:</label>
                <div class="ui input focus">
                    <input  name="uploadCv" type="file">
                </div>

                {% for error in form.uploadCv.errors %}
                    <div class="ui up pointing label">
                        <p>{{error}}</p>
                    </div>
                {%endfor%}
            </div>
{{confirmation}}
            <div>
                <button class="ui button primary" type="submit">Submit</button>
            </div>

    </form>
 </div>
</body>
</html>